@keyframes remove-overlay { to { width: 0;
    height: 0;
    overflow: hidden; } }

@keyframes drop { 10% { opacity: 0.5; }
  20% { opacity: 1;
    top: 100px;
    transform: rotateX(-360deg); }
  80% { opacity: 1;
    top: 100px;
    transform: rotateX(-360deg); }
  90% { opacity: 0.5; }
  100% { opacity: 0;
    top: 400px; } }

@keyframes reveal { 0% { opacity: 0;
    transform: translateY(4px); }
  50% { opacity: 0.5;
    transform: translateY(2px); }
  100% { opacity: 1;
    transform: translateY(0px); } }

* { box-sizing: border-box; }

a { text-decoration: none; color: inherit; }

body { font-family: "Roboto", sans-serif; display: flex; justify-content: center; background-color: #848484; }

p { font-size: larger; font-weight: lighter; }

h1 { font-size: x-large; font-weight: 600; }

h2 { font-size: x-large; font-weight: 600; }

h3 { font-size: larger; font-weight: 600; }

.colour-white { color: white; }

.colour-primary { color: #9356DC; }

.color-secondary { color: #FF79DA; }

.colour-tertiary { color: #99E2D0; }

.container { width: 100%; max-width: 766px; margin: 0 auto 0 auto; background-color: white; box-shadow: 0 5px 20px 1px #5e5e5e; }

@media only screen and (max-width: 1023px) and (min-width: 767px) { .container { max-width: 1023px; } }

@media only screen and (min-width: 1024px) { .container { max-width: 1024px; } }

header { display: flex; justify-content: center; padding: 15px 0 15px 0; box-shadow: 0 1px 2px 1px #848484; z-index: 1; position: relative; }

header img { height: 30px; }

header i { position: absolute; top: 20px; left: 20px; font-size: x-large; }

.geolocation { display: flex; justify-content: center; align-items: center; background-color: #e5e5e5; z-index: 0; position: relative; }

.geolocation__image { padding: 0 15px 0 15px; }

.geolocation p { font-weight: 400; }

.hero { display: flex; flex-direction: column; align-items: center; padding: 50px 30px 60px 30px; background-color: #f4f4f4; }

.hero__image { display: none; }

.hero__heading, .hero__text { text-align: center; }

.hero__button { margin-top: 30px; padding: 15px 20px 15px 20px; font-weight: 600; font-size: medium; color: white; border: 1px solid transparent; border-radius: 50px; cursor: pointer; background-image: linear-gradient(to bottom right, #FF79DA, #9356DC); box-shadow: 0 1px 3px 1px darkgray; }

.hero__button:hover { box-shadow: 0 3px 5px 1px darkgray; background-image: linear-gradient(to bottom right, #ff93e1, #a16be0); }

@media only screen and (min-width: 1024px) { .hero { margin-top: -40px; border-top-left-radius: 40px; border-top-right-radius: 40px; position: relative; }
  .hero__image { display: inline-block; width: 100%; height: 450px; object-fit: cover; position: relative; } }

.fonctionnement { display: flex; flex-direction: column; padding: 50px 30px 60px 30px; }

.fonctionnement__heading { text-align: left; }

.fonctionnement__stage__area { display: flex; flex-direction: column; width: 100%; padding: 0 10px 0 10px; }

.fonctionnement__stage { background-color: #f4f4f4; border: 1px solid #f4f4f4; border-radius: 30px; padding: 20px 0 20px 0; box-shadow: 0 5px 10px 5px #e5e5e5; margin-top: 15px; margin-bottom: 15px; cursor: pointer; display: flex; align-items: center; }

.fonctionnement__stage__image { padding-left: 15px; color: gray; font-size: large; font-weight: 600; }

.fonctionnement__stage__text { padding-left: 20px; font-weight: 500; font-size: larger; }

.fonctionnement__stage:hover { background-color: #f2eafb; box-shadow: 0 5px 10px 5px lightgray; }

.fonctionnement__stage:hover .fonctionnement__stage__image { color: #9356DC; }

.number-pull-left { margin-left: -20px; }

@media only screen and (min-width: 1024px) { .fonctionnement__heading { text-align: center; padding-bottom: 40px; }
  .fonctionnement__stage__area { flex-direction: row; justify-content: space-between; }
  .fonctionnement__stage { flex: 1 1 0; width: 0; margin: 0 25px 0 25px; }
  .fa-1x { font-size: 1.5em !important; }
  .number-pull-left { margin-left: -30px; }
  .shake--1 { animation: shake 3s linear infinite; animation-delay: 1s; }
  .shake--2 { animation: shake 3s linear infinite; animation-delay: 2s; }
  .shake--3 { animation: shake 3s linear infinite; animation-delay: 3s; }
  @keyframes shake { 0%, 7% { transform: scale(1.1); }
    15% { transform: rotateZ(-15deg); }
    20% { transform: rotateZ(10deg); }
    25% { transform: rotateZ(-10deg); }
    30% { transform: rotateZ(6deg); }
    35% { transform: rotateZ(-4deg); }
    40%, 100% { transform: rotateZ(0); } }
  .fonctionnement__stage__area:hover * { animation-play-state: paused; } }

.restaurants { display: flex; flex-direction: column; padding: 50px 30px 60px 30px; background-color: #f4f4f4; }

.restaurants__heading { text-align: left; }

.restaurants__cards__area { display: flex; flex-direction: column; width: 100%; transition: 1s ease; }

.restaurants__card { border: 1px solid #f4f4f4; width: 100%; box-shadow: 0 5px 10px 5px #e5e5e5; border-radius: 20px; background-color: white; line-height: 10px; position: relative; margin-bottom: 25px; }

.restaurants__card:hover { box-shadow: 0 3px 5px 1px darkgray; opacity: 0.85; }

.restaurants__card__heading, .restaurants__card__text { padding-left: 20px; }

.restaurants__card__flash { color: #32b091; font-weight: 600; border: 1px solid #ade8d9; background-color: #ade8d9; padding: 10px 20px 10px 20px; position: absolute; top: 20px; right: 20px; }

.restaurants__card__heart--solid { position: absolute; height: 30px; cursor: pointer; right: 20px; bottom: 25px; fill: none; stroke-width: 15; stroke: black; }

.restaurants__card__heart--solid:hover { fill: #9356DC; stroke: none; }

.restaurants__card__heart--gradient { position: absolute; height: 30px; cursor: pointer; right: 20px; bottom: 25px; }

.restaurants__card__heart--gradient--start-colour { stop-color: #FF79DA; }

.restaurants__card__heart--gradient--end-colour { stop-color: #9356DC; }

.restaurants__card__heart--mask { fill: white; }

.restaurants__card__heart--mask--transition { opacity: 0.0; display: inline-block; transition: opacity .5s ease-in; }

.restaurants__card__heart--mask--transition:hover { opacity: 1.0; }

.restaurants__card img { border-top-left-radius: 20px; border-top-right-radius: 20px; width: 100%; height: 150px; object-fit: cover; }

@media only screen and (min-width: 1024px) { .restaurants__heading { text-align: center; padding-bottom: 20px; }
  .restaurants__cards__area { flex-wrap: wrap; flex-direction: row; }
  .restaurants__card { flex: 1 1 45%; margin: 20px; } }

@media only screen and (max-width: 1023px) and (min-width: 767px) { .restaurants__heading { text-align: center; padding-bottom: 20px; }
  .restaurants__cards__area { flex-wrap: wrap; flex-direction: row; }
  .restaurants__card { flex: 1 1 40%; margin: 10px; } }

.footer { padding: 10px 30px 30px 30px; background-color: #282828; line-height: 15px; }

.footer__heading { color: white; font-family: "Shrikhand", cursive; font-size: x-large; padding-bottom: 10px; }

.footer__text { color: white; font-size: large; font-weight: 400; }

.footer__text:hover { text-decoration: underline; cursor: pointer; }

.footer__text i { padding-right: 10px; }

@media only screen and (min-width: 1024px) { .footer { display: flex; flex-flow: row; align-items: center; justify-content: space-between; }
  .footer__heading { padding-bottom: 0; } }

.overlay { text-align: center; position: fixed; top: 0; left: 0; height: 100%; width: 100%; background-color: #f2eafb; opacity: 1; color: black; z-index: 5; animation: remove-overlay 0s ease-in 3s forwards; }

.overlay__heading { color: black; font-family: "Shrikhand", cursive; font-size: x-large; padding-bottom: 10px; }

.loader { padding: 0; font-family: "Shrikhand", cursive; font-size: xx-large; color: #9356DC; }

.loader--1 { animation: drop 1s ease-in-out 1; animation-delay: 1.1s; }

.loader--2 { animation: drop 1s ease-in-out 1; animation-delay: 1.2s; }

.loader--3 { animation: drop 1s ease-in-out 1; animation-delay: 1.3s; }

.loader--4 { animation: drop 1s ease-in-out 1; animation-delay: 1.4s; }

.loader--5 { animation: drop 1s ease-in-out 1; animation-delay: 1.5s; }

.loader--6 { animation: drop 1s ease-in-out 1; animation-delay: 1.6s; }

.loader--7 { animation: drop 1s ease-in-out 1; animation-delay: 1.7s; }

.loader--8 { animation: drop 1s ease-in-out 1; animation-delay: 1.8s; }

.loader span { position: relative; top: 0; display: inline-block; opacity: 0; transform: rotateX(-90deg); }

.restaurant__image { width: 100%; height: 300px; object-fit: cover; position: relative; }

.restaurant__menu { margin-top: -40px; padding: 30px 20px 30px 20px; width: 100%; border-top-left-radius: 40px; border-top-right-radius: 40px; background-color: #f4f4f4; position: relative; }

.restaurant__menu__heading__heart--solid { position: absolute; height: 30px; cursor: pointer; right: 20px; top: 45px; fill: none; stroke-width: 15; stroke: black; }

.restaurant__menu__heading__heart--solid:hover { fill: #9356DC; stroke: transparent; }

.restaurant__menu__heading__heart--gradient { position: absolute; height: 30px; cursor: pointer; right: 20px; top: 45px; }

.restaurant__menu__heading__heart--mask { fill: white; }

.restaurant__menu__heading__heart--mask--transition { opacity: 0.0; display: inline-block; transition: opacity .5s ease-in; }

.restaurant__menu__heading__heart--mask--transition:hover { opacity: 1.0; }

.restaurant__menu__area h2 { text-transform: uppercase; padding-top: 10px; font-weight: 200; font-size: large; position: relative; padding-bottom: 2px; }

.restaurant__menu__area h2:after { display: block; content: ''; width: 50px; height: 3px; background: #99E2D0; position: absolute; bottom: -5px; }

.restaurant__menu__entries { display: flex; flex-direction: column; width: 100%; animation: reveal 400ms ease-in; }

.restaurant__menu__mains { display: flex; flex-direction: column; width: 100%; animation: reveal 500ms ease-in; }

.restaurant__menu__desserts { display: flex; flex-direction: column; width: 100%; animation: reveal 600ms ease-in; }

.restaurant__menu__card { display: flex; justify-content: space-between; border: 1px solid #f4f4f4; width: 100%; box-shadow: 0 5px 10px 5px #e5e5e5; border-radius: 20px; background-color: white; margin-bottom: 25px; padding-left: 10px; padding-right: 10px; position: relative; overflow: hidden; transition: 1s; }

.restaurant__menu__card:hover { cursor: pointer; }

.restaurant__menu__card:hover .restaurant__menu__card__content { width: 60%; }

.restaurant__menu__card:hover .restaurant__menu__card__icon { right: 10px; }

.restaurant__menu__card:hover .restaurant__menu__card__content span { right: 80px; }

.restaurant__menu__card:hover .restaurant__menu__card__icon i { transform: rotateZ(360deg); }

.restaurant__menu__card__content { width: 80%; transition: 1s; }

.restaurant__menu__card__content span { position: absolute; bottom: 0; right: 10px; padding-bottom: 20px; font-size: larger; font-weight: 600; transition: 1s; }

.restaurant__menu__card h3 { margin-bottom: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.restaurant__menu__card p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 10px; }

.restaurant__menu__card__icon { background-color: #99E2D0; width: 70px; margin-right: -10px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; color: white; font-size: xx-large; text-align: center; position: absolute; right: -60px; height: 100%; transition: 1s; }

.restaurant__menu__card__icon i { margin-top: 45%; transition: 1s; }

.restaurant__menu__button { display: flex; justify-content: center; padding-bottom: 40px; }

.restaurant__menu__button__style { margin-top: 30px; padding: 15px 20px 15px 20px; font-weight: 600; font-size: medium; color: white; border: 1px solid transparent; border-radius: 50px; cursor: pointer; background-image: linear-gradient(to bottom right, #FF79DA, #9356DC); box-shadow: 0 1px 3px 1px darkgray; width: 50%; }

.restaurant__menu__button__style:hover { box-shadow: 0 3px 5px 1px darkgray; background-image: linear-gradient(to bottom right, #ff93e1, #a16be0); }

.restaurant h1 { font-family: "Shrikhand", cursive; }

@media only screen and (min-width: 1024px) { .restaurant__menu__area h2 { text-align: center; }
  .restaurant__menu__area h2:after { margin-left: 40%; margin-right: 4%; width: 20%; }
  .restaurant__menu__cards { display: flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 50px; }
  .restaurant__menu__card { flex: 0 1 45%; margin: 20px; }
  .restaurant__menu__card__content { width: 90%; }
  .restaurant__menu__card:hover .restaurant__menu__card__content { width: 70%; } }
