body {
  font-family: $font-text;
  display: flex;
  justify-content: center;
  background-color: $colour-page-background;
}

h1 {
  font-size: x-large;
  font-weight: 600;
}

h2 {
  font-size: x-large;
  font-weight: 600;
}
