//Corporate colours
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

//Gray colours
$colour-page-background: rgb(132, 132, 132);
$colour-neutral-gray: rgb(229, 229, 229);
$colour-light-gray: rgb(244, 244, 244);
$colour-footer-background: rgb(40, 40, 40);
$colour-black: black;
$colour-white: white;

//Fonts
$font-logo: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

//Lighter or darker
$lighten-amount: 5%;
$darken-amount: 15%;

//Responsive design breakpoints
$breakpoint-mobile: 766px;
$breakpoint-tablet-min: 767px;
$breakpoint-tablet-max: 1023px;
$breakpoint-desktop: 1024px;

//Misc
$string-length: str-length('ohmyfood');