.restaurant {

  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;

  }

  &__menu {
    margin-top: -40px;
    padding: 30px 20px 30px 20px;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $colour-light-gray;
    position: relative;

    &__heading {

      &__heart--solid {
        position: absolute;
        height: 30px;
        cursor: pointer;
        right: 20px;
        top: 45px;
        fill: none;
        stroke-width: 15;
        stroke: black;

        &:hover {
          fill: $colour-primary;
          stroke: transparent;
        }
      }

      &__heart--gradient {
        position: absolute;
        height: 30px;
        cursor: pointer;
        right: 20px;
        top: 45px;
      }

      &__heart--mask {
        fill: white;

        &--transition {
          opacity: 0.0;
          display: inline-block;
          transition: opacity .5s ease-in;

          &:hover {
            opacity: 1.0;
          }
        }
      }
    }

    &__area {
      h2 {
        text-transform: uppercase;
        padding-top: 10px;
        font-weight: 200;
        font-size: large;
        position: relative;
        padding-bottom: 2px;

        &:after {
          display: block;
          content: '';
          width: 10%;
          height: 3px;
          background: $colour-tertiary;
          position: absolute;
          bottom: -5px;
        }
      }
    }

    &__entries {
      display: flex;
      flex-direction: column;
      width: 100%;
      animation: reveal 400ms ease-in;
    }

    &__mains {
      display: flex;
      flex-direction: column;
      width: 100%;
      animation: reveal 500ms ease-in;
    }

    &__desserts {
      display: flex;
      flex-direction: column;
      width: 100%;
      animation: reveal 600ms ease-in;
    }

    &__card {
      display: flex;
      justify-content: space-between;
      border: 1px solid $colour-light-gray;
      width: 100%;
      box-shadow: 0 5px 10px 5px $colour-neutral-gray;
      border-radius: 20px;
      background-color: $colour-white;

      margin-bottom: 25px;
      padding-left: 10px;
      padding-right: 10px;

      position: relative;
      overflow: hidden;
      transition: 1s;

      &:hover {
        cursor: pointer;

        & .restaurant__menu__card__content {
          width: 60%;
        }

        & .restaurant__menu__card__icon {
          right: 10px;
        }

        & .restaurant__menu__card__content span {
          right: 80px;
        }

        & .restaurant__menu__card__icon i {
          transform: rotateZ(360deg);
        }
      }


      &__content {
        width: 80%;
        transition: 1s;
      }

      &__content span {
        position: absolute;
        bottom: 0;
        right: 10px;
        padding-bottom: 20px;
        font-size: larger;
        font-weight: 600;
        transition: 1s;
      }

      & h3 {
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
      }

      &__icon {
        background-color: $colour-tertiary;
        width: 70px;
        margin-right: -10px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: white;
        font-size: xx-large;
        text-align: center;

        position: absolute;
        right: -60px;
        height: 100%;
        transition: 1s;

        & i {
          margin-top: 45%;
          transition: 1s;
        }
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      padding-bottom: 40px;

      &__style {
        margin-top: 30px;
        padding: 15px 20px 15px 20px;
        font-weight: 600;
        font-size: medium;
        color: white;
        border: 1px solid transparent;
        border-radius: 50px;
        cursor: pointer;
        background-image: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
        box-shadow: 0 1px 3px 1px darkgray;
        width: 50%;

        &:hover {
          box-shadow: 0 3px 5px 1px darkgray;
          background-image: linear-gradient(to bottom right, lighten($colour-secondary, $lighten-amount), lighten($colour-primary, $lighten-amount));
        }
      }
    }
  }

  h1 {
    font-family: $font-logo;
    font-size: x-large;
  }
}
