.geolocation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colour-neutral-gray;
  z-index:0;
  position: relative;
  &__image {
    padding: 0 15px 0 15px;
  }
}