.restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 60px 30px;
  background-color: $colour-light-gray;

  &__heading {
    text-align: left;
  }

  &__cards__area {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__card {
    border: 1px solid $colour-light-gray;
    width: 100%;
    box-shadow: 0 5px 10px 5px $colour-neutral-gray;
    border-radius: 20px;
    background-color: $colour-white;
    line-height: 10px;
    position: relative;
    margin-bottom: 25px;

    &:hover {
      //background-color: lighten($colour-primary, 35%);
      box-shadow: 0 3px 5px 1px darkgray;
      opacity: 0.85;
    }

    &__heading, &__text {
      padding-left: 20px;
    }

    &__flash {
      color: darken($colour-tertiary, 30%);
      font-weight: 600;
      border: 1px solid lighten($colour-tertiary, $lighten-amount);
      background-color: lighten($colour-tertiary, $lighten-amount);
      padding: 10px 20px 10px 20px;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__heart--solid {
      position: absolute;
      height: 30px;
      cursor: pointer;
      right: 20px;
      bottom: 25px;
      fill: none;
      stroke-width: 15;
      stroke: black;

      &:hover {
        fill: $colour-primary;
        stroke: none;
      }
    }

    &__heart--gradient {
      position: absolute;
      height: 30px;
      cursor: pointer;
      right: 20px;
      bottom: 25px;

      &--start-colour {
        stop-color: $colour-secondary;
      }

      &--end-colour {
        stop-color: $colour-primary;
      }
    }

    &__heart--mask {
      fill: white;

      &--transition {
        opacity: 0.0;
        display: inline-block;
        transition: opacity .5s ease-in;

        &:hover {
          opacity: 1.0;
        }
      }
    }
  }

  &__card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}