//Page overlay
.overlay {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: lighten($colour-primary, 35%);
  opacity: 1;
  color: black;
  z-index: 5;
  animation: remove-overlay 0s ease-in 3s forwards;

  &__heading {
    color: black;
    font-family: $font-logo;
    font-size: x-large;
    padding-bottom: 10px;
  }
}

@keyframes remove-overlay {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

//Loader
.loader {
  padding: 0;
  font-family: $font-logo;
  font-size: xx-large;
  color: $colour-primary;


  @for $i from 1 through $string-length {
    &--#{$i} {
      animation: drop 1s ease-in-out 1;
      animation-delay: 1s + 0.1s * $i;
    }
  }

  & span {
    position: relative;
    top: 0;
    display: inline-block;
    opacity: 0;
    transform: rotateX(-90deg);
  }
}

